@mixin h_w($height, $width) {
    height: $height;
    width: $width;
}

@mixin h_w_i($height, $width) {
    max-height: $height;
    min-height: $height;
    max-width: $width;
    min-width: $width;
}

@mixin w($width) {
    width: $width;
}

@mixin f-s_c($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin f-s_w($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #131313 !important;
    height: 2000px;

    #form_uploadkomen {
        color: black;
        @include w(100%);

        .formulir {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            form {
                width: 40%;
                min-width: 100px;
                max-width: 700px;
            
            }
        }
    }
    #form_allkomen {
        margin-left: 50px;
        margin-top: 50px
    }

    #home_blogs {
        font-family: 'Poppins', sans-serif;
        width: 100vw;
        display: flex;
        justify-content: center;

        $cont-witdh: 450px;
        $text-padding-left : 8px;
        $gap-content : 10px;
        $border-post: 0.1px solid #514f4f;

        .blog-container {
            width: $cont-witdh;

            .blog {
                max-height: max-content;
                background-color: #252525;
                border-radius: 5px;

                .head {
                    padding-left: $text-padding-left;
                    color: white;
                    width: 100%;
                    padding-top: 10px;

                    .userInf {
                        height: 50px;
                        margin-bottom: $gap-content;

                        .options {
                            margin-right: 4.5%;
                        }                            
                        
                        .general {
                            .profilePic {
                                @include h_w(40px, 40px);
                                border-radius: 100%;

                                img {
                                    @include h_w_i(40px, 40px);
                                    border-radius: 100%;
                                }
                            }
                        }   

                        .text {
                            margin-left: 10px;
                            display: grid;
                            grid-template-rows: 1fr;

                            span.author {
                                @include f-s_w(1.1em, 500)
                            }

                            span.date {
                                @include f-s_w(0.8em, 1)
                            }
                        }
                    }


                    span.caption {
                        @include f-s_w(0.95em, 350);
                    }
                }

                .body {
                    // margin-top: $gap-content;
                    width: $cont-witdh;
                    
                    .image {

                        img {
                            max-width: $cont-witdh;
                            min-width: $cont-witdh;
                        }

                    }
                }
                .comment {
                    height: 20px;
                    @include f-s_c(0.8em, white );
                    font-weight: 300;
                    opacity: 90%;
                    padding-left: $text-padding-left;
                }

                .react {
                    height: 43px;
                    gap: 25px;
                    margin: 0px 10px 0px 10px;
                    border-top: 0.1px solid #514f4f;
                    font-weight: 300;

                    span.option {
                        @include h_w(100%, 120px);
                        @include f-s_c(0.9rem, white)
                    }
                }
        }
    }
    }
    
} 