body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

#cont_upload_komen {
  max-width: 500px;
  min-width: 300px;
}

/* Gaya untuk tabel */
table {
  width: 50vw;
  border-collapse: collapse;
}

/* Gaya untuk header tabel */
th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Gaya untuk sel tabel */
td {
  padding: 8px;
  border: 1px solid #ddd;
}

/* Gaya untuk baris tabel */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e2e2e2;
}


.nav {
  width: 100vw;
  height: 50px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 50px;
}


.hamburger {
  display: flex;
  width: 100%;
}

.hamburger span.ham{
  margin-left: 20px;
}

.hamburger span.ham a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

span.ham a:hover {
  background-color: #575757;
}

.main-content {
  margin-left: 50px;
}