extends ../layout

block content 
    form(method="post" required action="http://localhost:3000/komen/dataaaaa")
        input(type="text" name="name" placeholder="nama" required)
        input(type="text" name="komen" placeholder="pesan" required)
        button(type="submit") Submit 