extends ../layout

block content     
 #home_blogs
  .blog-container
   each blog in blogs
    .blog.mt-4
     .head
      .userInf
       .options
        span.close X 
        span.more L
       .profilePic
        img(src=blog.imgUrl)
       .text
        span.author #{blog.author} 
        span.date 28 August
      span.caption #{blog.caption} 
     .body
      .image 
       img(src=blog.img_url)
